.offers{
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: center;
    gap: 400px;
    background: rgba(135, 101, 101, 0.475);
    margin-bottom: 40px;
}
.offers-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offers-left h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button {
    width: 250px;
    height: 70px;
    background: rgba(0, 0, 0, 0.836);
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.offers-right > img {
    width: 100%;
    height: 300px;
}