@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
.hero{
    display: flex;
    align-items: center;
    gap: 400px;
    justify-content: center;
    padding: 0px 170px;
    background: rgba(216, 158, 165, 0.288);
    margin-bottom: 50px;

}
.hero-left{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.hero-left h2{
    font-size: 50px;
    font-weight: 600;
    
}
.hero-left p{
    font-family: "Licorice", cursive;
    font-weight: 800;
    font-size: 40px;
    color: red;    
}
.hero-left button {
    color: white;
    width: 200px;
    padding: 10px 40px;
    background: rgb(30, 23, 23);
}
.hero-right{
    width: 300px;
}